@(mainHeader: String)(menuItems: Seq[String])

<section id="headerSection">
    <div id="mainHeaderDiv"><a href="/" id="mainHeadingLink" ><h1>@mainHeader</h1></a></div>

    <div id="navMenuDiv">
        <ul id="navMenu">
            <li class="navMenuItem"><a href="#" class="navMenuLink">pictures</a></li>
            <li class="navMenuItem"><a href="/todo" class="navMenuLink">to-do</a></li>
            <li class="navMenuItem"><a href="#" class="navMenuLink">contacts</a></li>
            <li class="navMenuItem"><a href="/guests" class="navMenuLink">guests</a></li>
            <li class="navMenuItem"><a href="#" class="navMenuLink">announcements</a></li>
        </ul>
    </div>

</section>
